<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialPortDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SerialPortDemo.Properties.Settings>
            <setting name="QuickButton1" serializeAs="String">
                <value>快捷命令01</value>
            </setting>
            <setting name="QuickButton2" serializeAs="String">
                <value>快捷命令02</value>
            </setting>
            <setting name="QuickButton3" serializeAs="String">
                <value>快捷命令03</value>
            </setting>
            <setting name="QuickButton4" serializeAs="String">
                <value>快捷命令04</value>
            </setting>
            <setting name="QuickCommand1" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickCommand2" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickCommand3" serializeAs="String">
                <value />
            </setting>
            <setting name="QuickCommand4" serializeAs="String">
                <value />
            </setting>
            <setting name="ChkHead" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Head" serializeAs="String">
                <value />
            </setting>
            <setting name="ChkData" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value />
            </setting>
            <setting name="ChkParity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ParityMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="ChkTail" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tail" serializeAs="String">
                <value />
            </setting>
        </SerialPortDemo.Properties.Settings>
    </userSettings>
</configuration>